.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	text-align: center;
}

header {
	display: flex;
	justify-content: right;
}

.goods-search {
	margin: 5px 20px;
	padding: 5px 10px;
	font-size: 30px;
}

.cart-button {
	margin: 2px 20px;
	padding: 10px 50px;
	font-size: 20px;
	font-weight: bold;
	background: rgb(98, 138, 187);
	color: rgb(235, 249, 249);
	border-radius: 10px;
}

.goods-list {
	border: 3px solid rgb(98, 138, 187);
	background: rgb(180, 200, 226);
	box-sizing: border-box;
	padding: 20px 100px;
	margin: 0 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.goods-item,
.carts-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid rgb(98, 138, 187);
	background: rgb(223, 230, 244);
	max-width: 300px;
	min-width: 214px;
	min-height: 260px;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
}

.img-tovar {
	max-width: 160px;
}

.block-carts {
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	right: 0;
	width: 250px;
	height: 100vh;
	background: rgb(179, 174, 174);
	overflow: scroll;
	box-sizing: border-box;
}

.carts {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.carts-item {
	width: 100%;
}

.bug {
	padding: 5px 30px;
	display: flex;
	background: rgb(241, 85, 38);
	border-radius: 5px;
	margin-top: 50px;
	font-size: 24px;
	line-height: 40px;
}
.error {
	padding: 5px 30px;
	color: azure;
}
